@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

$text-bg: rgba(0, 0, 0, 0.8);

.feed {
  @include padding(0, 0, 1, 0);

  &__item {
    @include margin-bottom(1.25);
    min-height: 25rem;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    color: $color-212648-lightest;

    &:last-child {
      @include margin-bottom(.5);
    }

    &-meta {
      opacity: 0.9;
    }

    &-header {
      @include padding(0.4, 0.4);
      background-color: $text-bg;
      color: $color-212648-lightest;
    }

    &-title {
      font-size: $typographic-base-font-size * 1.75;
      line-height: $typographic-base-font-size * 1.75;
      @include margin-top(0);
      @include margin-bottom(0);

      &-link {
        color: $color-212648-lightest;

        &:hover,
        &:focus {
          color: $color-212648-lightest;
          border-bottom: 1px solid $color-212648-lightest;
        }

      }

    }

    &-description {
      @include padding(0.4, 0.4);
      font-size: $typographic-base-font-size;
      line-height: $typographic-base-font-size * 1.5;
      margin-bottom: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $text-bg;
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }

    }

  }

}

@include breakpoint-md {
  .feed {
    display: grid;
    grid-gap: 1.625rem;
    grid-template-columns: 1fr 1fr;

    &__item {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
