/** 
 * Variables
 */

// Colors
$color-212648-lightest: #f4f4f2;
$color-212648-light: #e8e8e8;
$color-212648-dark: #bbbfca;
$color-212648-darkest: #495464;

$color-19113-dark-grey: #303841;
$color-19113-turquoise: #00adb5;
$color-19113-light-grey: #eeeeee;
$color-19113-orange: #ff5722;

$color-144191-light-grey: #e8e8e8;
$color-144191-light-blue: #5588a3;
$color-144191-blue: #145374;
$color-144191-dark-blue: #00334e;

// Functional Colors
$color-base: $color-19113-dark-grey;
$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

$color-page-bg: darken($color-144191-light-grey, 4%);

$color-sidebar-bg: lighten($color-144191-dark-blue, 1%);
$color-sidebar: $color-212648-lightest;

$color-accent: #F7A046;
$color-accent-2: $color-144191-light-blue;

// Typographic
$typographic-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$typographic-font-family-heading: 'Gentium Basic', serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-accent-2;
$typographic-link-s-font-color: $color-accent;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$space-unit: 2.5rem;
$icon-font-size: 3rem;

$layout-post-single-width: 960px;
$layout-post-width: $layout-post-single-width - 160px;
$layout-post-width-lg: $layout-post-single-width;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
$layout-breakpoint-xl: 1400px;

$col-box-shadow: rgba(0,0,0,8);
$col-box-shadow-light: rgba(0,0,0,0.5);


