.nav-bar {
  display: flex;
}

.nav-bar__link-wrapper {
  flex: 0 1 25%;
  text-align: center;
  color: #ffffff;
}

.nav-bar__link-wrapper--title {
  text-align: left;
}

.nav-bar__link-wrapper .header__title,
.nav-bar__link-wrapper .nav-label {
  color: inherit;
  line-height: normal;
  margin: 0;
}

.nav-bar__link-wrapper .header__title {
  font-size: 2em;
}

.nav-bar__link-wrapper .nav-link,
.nav-bar__link-wrapper .nav-title-wrapper {
  min-height: 38px;
  padding: 0.8em 0;
}

.nav-bar__link-wrapper .nav-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-bar__link-wrapper .nav-label {
  font-size: 1.6em;
  vertical-align: text-top;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active,
.nav-link.nav-link--active {
  color: #71ADB5;
}
