.main-header,
.main-footer {
  background-color: #0D3446;
  color: #ffffff;
}

.main-header {
  padding: 0 1.25em;
  -webkit-box-shadow: -2px 0 4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0 4px rgba(0,0,0,0.75);
  box-shadow: -2px 0 4px rgba(0,0,0,0.75);
}

.main-footer {
  padding: 1em 1.25em;
  -webkit-box-shadow: 2px 0 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0 4px rgba(0,0,0,0.75);
  box-shadow: 2px 0 4px rgba(0,0,0,0.75);
}
