.card {
  background-color: #D8DFE2;
  /* background-color: #71ADB5; */
  color: #283149;
  border-radius: 0.15em;
  -webkit-box-shadow: -2px 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: -2px 2px 3px rgba(0,0,0,0.4);
  box-shadow: -2px 2px 3px rgba(0,0,0,0.4);
}

.card .card-header {
  padding: 1em 1.5em;
  position: relative;
}

.card .card-content {
  padding-bottom: 1em;
}

.card .card-header .tags-wrapper {
  position: absolute;
  top: 1em;
  right: 1.5em;
}

.card .card-header__label {
  margin: 0;
}

.card .card-header__date {
  font-size: 0.8em;
  letter-spacing: 0.04em;
}

.card .card-content__image {
  width: 100%;
}

.card .card-content__text {
  padding: 1em 1.5em;
  margin: 0;
}

.card.card--no-img .card-content__text {
  padding-top: 0;
}
