body {
  background-color: #000000;
  color: #283149;
  font-family: Helvetica, Arial, sans-serif;
}

.main {
  min-height: 100vh;
}

.main-content {
  margin-left: 33%;
  margin-right: 0;
  background-color: #000088;
  -webkit-box-shadow: -4px 4px 12px 2px rgba(0,0,0,0.8);
  -moz-box-shadow: -4px 4px 12px 2px rgba(0,0,0,0.8);
  box-shadow: -4px 4px 12px 2px rgba(0,0,0,0.8);
}

.main-cards {
  padding: 0 1em;
}

.main-background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.card {
  margin: 1em 0;
}
