@import '../mixins';

:root {
  --col-main-bg: #17212e;
  --col-main-text: #eeeeee;
  --col-alt-bg: #202d3f;
  --col-dark-bg: #0f151d;
  --col-accent: #EA5455;

  --col-content-bg: #f6f6f6;
  --col-content-text: #343434;
  --col-content-highlight: var(--col-accent);
  
  --col-header-bg: var(--col-alt-bg);
  --col-header-accent: var(--col-accent);

  --col-scrollbar-track: var(--col-accent);
  --col-scrollbar-thumb: var(--col-main-bg);
  --scrollbar-width: 9px;

  --col-nav-bg: var(--col-alt-bg);
  --col-nav-selected: var(--col-accent);
}

/** 
 * RJ Portfolio overrides
 */

 html {
  font-size: $typographic-root-font-size;
  margin: 0;
  height: -webkit-fill-available;
  background-color: var(--col-main-bg);
}

body {
  margin: 0;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family-heading;
  font-weight: 700;
}

h1 {
  font-size: $typographic-base-font-size * 1.802;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.602;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.424;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.266;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(.5);
}

h5 {
  font-size: $typographic-base-font-size * 1.125;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
  width: 100px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }

}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }

}

p {
  @include line-height(1);
  @include margin-bottom(1);
  margin-top: 0;
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .main-content {
    display: flex;
  }
}

.main-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #000;

  .background-video {
    background-color: #000;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
}



/**********************************************************
* PORTFOLIO JUNE 2021
**********************************************************/

.main-container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  @include large-box-shadow(var(--col-dark-bg));
}

.main-bontent {
  flex: 1 1 80%;
  background-color: var(--col-content-bg);
  color: var(--col-content-text);
  min-height: 100vh;
}

.index-bontent {
  margin: 1.5rem;
}

.threejs-viz-container {
  background-color: #000;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  margin: -1.5rem -1.5rem 1.5rem;
}

/**  SCROLLBAR STYLING  **********************************/

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--col-scrollbar-thumb) var(--col-scrollbar-track);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: var(--col-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--col-scrollbar-thumb);
  border: 1px solid var(--col-scrollbar-track);
}

@media (min-width: 501px) {
  h1 {
    font-size: $typographic-base-font-size * 2.288;
  }
  
  h2 {
    font-size: $typographic-base-font-size * 1.939;
  }
  
  h3 {
    font-size: $typographic-base-font-size * 1.643;
  }
  
  h4 {
    font-size: $typographic-base-font-size * 1.392;
  }
  
  h5 {
    font-size: $typographic-base-font-size * 1.18;
  }
  
  h6 {
    font-size: $typographic-base-font-size;
  }

  .threejs-viz-container {
    padding-top: 56.25%;
  }

  .index-bontent {
    margin: 2rem;
  }
  
  .threejs-viz-container {
    margin: -2rem -2rem 2rem;
  }
}