.header {
  width: 100%;
  height: 3rem;
  background-color: #313e5a;
  background-image: url("../assets/shley-tree-1.png");
  color: #ffffff;
  font-family: 'Special Elite', sans-serif;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
  letter-spacing: 0.1rem;
}

.headerOpen {
  border-bottom: none;
}

.headerButton {
  display: inline-block;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 3px;
  position: relative;
  z-index: 300;
  vertical-align: top;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.headerButtonOpen {
  background-color: #ffffff;
}

.pageName {
  display: inline-block;
  padding-top: 0.25rem;
  padding-left: 0.125rem;
  font-size: 1.66rem;
  position: relative;
  z-index: 300;
}

.headerLinks {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #313e5a;
  background-image: url("../assets/shley-tree-1.png");
  padding-top: 3rem;
  z-index: 200;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.175s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
}

.headerLinksOpen {
  pointer-events: auto;
  opacity: 1;
}

.headerLink {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.33rem 0.75rem;
}

.headerLink a {
  color: inherit;
}

.headerOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 150;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
}

.headerOverlayOpen {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .headerWrapper, .linksWrapper {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem;
  }

  .headerLinks {
    left: 0;
    padding-bottom: 0.5rem;
  }

  .headerLink {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .headerWrapper, .linksWrapper {
    max-width: 56rem;
  }
}