
.mainLayout {
  background-color: #c7c3bb;
  background-image: url("../assets/asfalt-even-less-dark.png");
  min-height: 100vh;
}

.mainLayoutWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.postHeading {
  margin-top: 0;
  margin-bottom: 0;
  color: #313e5a;
}

.postHeadingLink {
  box-shadow: none;
  color: inherit;
}

.postArticle {
  margin-bottom: 3.5rem;
}

.categoryIntro {
  font-size: 1.15rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer {
  text-align: center;
}

.footerSmall {
  font-size: 0.85rem;
  line-height: 1.4rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  display: inline-block;
}

@media (min-width: 768px) {
  .postLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .postArticle {
    width: calc(50% - 1.5rem);
  }

  .blogPostArticle {
    padding-top: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .mainLayoutWrapper {
    max-width: 56rem;
  }

  .blogPostArticle {
    padding-top: 1.5rem;
  }

  .bio {
    padding-bottom: 0.5rem;
  }

  .bioText {
    padding-top: 0.5rem;
  }
}
