@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.main-header {
  color: var(--col-main-text);
  background-color: var(--col-main-bg);
  padding: 1rem 1.5rem;

  &__title,
  &__subtitle,
  &__blurb {
    display: block;
  }

  &__subtitle,
  &__blurb {
    color: var(--col-highlight-text);
  }

  &__title {
    margin: 0;
    padding: 0;
  }
}
