@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    // width: 100%;
    text-align: center;
    &__inner {
        position: relative;
        padding: $space-unit;
        margin: $space-unit;
        color: $color-sidebar;
        background-color: $color-sidebar-bg;
        @include basic-box-shadow();
    }
    position: relative;
    z-index: 2000;
}

@include breakpoint-sm {
    .sidebar {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 25%;
    }
}

// @include breakpoint-lg {
//     .sidebar {
//         flex-grow: 0;
//         flex-shrink: 1;
//         flex-basis: 20%;
//     }
// }
