@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    width: 100%;
    text-align: center;
    &__inner {
        position: relative;
        padding: $space-unit;
        margin: $space-unit;
        color: $color-sidebar;
        background-color: $color-sidebar-bg;
        @include basic-box-shadow();
    }
    position: relative;
    z-index: 2000;
}

@include breakpoint-md {
    .sidebar {
        flex: 0 0 30%;
    }
}
