@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  position: relative;
  z-index: 3000;

  &__inner {
    padding: 25px 20px;
    background-color: $color-212648-light;
    margin: 32px;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    // @include margin(0, 0, 1);
  }

}

@include breakpoint-sm {
  .page {
    lost-column: 2/3 4 0;
    height: 100vh;
    overflow-y: auto;
    background-color: $color-212648-light;
    -webkit-box-shadow: 0 0 16px $col-box-shadow-light;
    -moz-box-shadow: 0 0 16px $col-box-shadow-light;
    box-shadow: 0 0 16px $col-box-shadow-light;

    &__inner {
      padding: 30px 20px;
      margin: 0;
      background: none;
    }
  }
}
