@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  position: relative;
  z-index: 3000;
  max-width: 1280px;
  margin: 0 auto;

  &__inner {
    padding: $space-unit;
    min-height: calc(100vh - #{$space-unit * 4});
    @include basic-box-shadow();
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    line-height: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include margin-top(0);
    margin-bottom: $space-unit;

    &--index {
      text-transform: none;
    }
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
  }
}
