@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  position: relative;
  z-index: 3000;

  &__inner {
    padding: $space-unit;
    background-color: $color-page-bg;
    min-height: calc(100vh - #{$space-unit * 4});
    margin: $space-unit;
    @include basic-box-shadow();
  }

  &__title {
    text-transform: capitalize;
    font-size: $typographic-base-font-size * 2.5;
    line-height: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include margin-top(0);
    margin-bottom: $space-unit;

    &--index {
      text-transform: none;
    }
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
  }
}

@include breakpoint-sm {
  .page {
    min-height: 100vh;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;

      &__inner {
        margin-left: 0;
      }
  }
}

// @include breakpoint-md {
//   .page {
//       flex: 0 0 70%;

//       &__inner {
//         margin-left: 0;
//       }
//   }
// }
