@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  position: relative;
  z-index: 3000;

  &__inner {
    background-color: $color-page-bg;
    padding: $space-unit 0;
    margin: $space-unit;
  }

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__button-wrapper {
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
  }

  &__home-button {
    display: block;
    position: absolute;
    top: 0.25rem;
    left: 1rem;
    font-size: $typographic-base-font-size * 2;
    line-height: $typographic-base-font-size * 2;
    text-align: center;
    color: darken($color-accent, 15%);

    &:hover,
    &:focus {
      color: $color-accent-2;
    }

  }
}

.post--gallery {
  &__inner {
    padding-left: 0;
    padding-right: 0;
  }

  &__button-wrapper {
    max-width: $layout-post-width * 2;
  }

  &__home-button {
    left: 1rem;
  }
}

@include breakpoint-sm {
  .post {
    min-height: 100vh;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;

    &__inner {
      margin-left: 0;
    }
  }
}

@include breakpoint-md {
  .post {
      &__home-button {
        font-size: $typographic-base-font-size * 3;
        line-height: $typographic-base-font-size * 3;
        // left: 0;
      }
  }

  .post--gallery__home-button {
    left: 1rem;
  }
}

@include breakpoint-lg {
  .post--gallery__home-button {
    left: 2rem;
  }

  .post__button-wrapper {
    margin-top: $space-unit;
  }
}

@media only screen and (min-width: 1240px) {
  .post__home-button {
    left: 0;
  }
}

@include breakpoint-xl {
  .post__home-button {
    left: 0;
  }

  .post__button-wrapper {
    max-width: $layout-post-width-lg;
  }
}