@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  position: relative;
  z-index: 3000;

  &__inner {
    padding: 25px 20px;
    background-color: $color-page-bg;
    margin: 32px;
  }

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__button-wrapper {
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);
    text-align: left;
    position: relative;
  }

  &__home-button {
    display: block;
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    font-size: $typographic-base-font-size * 2;
    line-height: $typographic-base-font-size * 2;
    text-align: center;
    color: darken($color-accent, 15%);

    &:hover,
    &:focus {
      color: $color-accent-2;
    }

  }

  &--gallery {
    &__inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include breakpoint-sm {
  .post {
    lost-column: 2/3 4 0;
    min-height: 100vh;
    // overflow-y: auto;
    background-color: $color-page-bg;
    @include basic-box-shadow();

    &__home-button {
      left: 1rem;
    }

    &__inner {
      padding: 0;
      margin: 0;
      background: none;
    }
  }
}


@include breakpoint-md {
  .post {
    &__home-button {
      font-size: $typographic-base-font-size * 3;
      line-height: $typographic-base-font-size * 3;
      left: 0;
    }

  }

}

// @include breakpoint-md {
//   .post {
//     &__footer {
//       padding: 0;
//     }

//     &__comments {
//       padding: 0;
//     }

//     &__home-button {
//       position: fixed;
//       max-width: auto;
//       margin: 0;
//       top: 30px;
//       left: 30px
//     }

//   }

// }